.copy-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.scrolling-data {
    overflow: hidden;
    width: 100%;
}

.scrolling-text {
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}

.scrolling-text span {
    display: inline-block;
    padding-right: 20px; /* 控制滚动数据之间的间距 */
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
