<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Analyze</title>
<!--第一个css头铁，没办法，下载到本地，定向一直有问题-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/distribution.css">
<link rel="stylesheet" href="static/css/distribution_add.css">
<script src="node_modules/jquery.min.js"></script>
<script src="static/js/distribution.js"></script>
<script src="static/js/distribution_add.js"></script>
<script src="node_modules/echarts.min.js"></script>
<script src="node_modules/china.js"></script>
</head>
<body>

<main>
	<div class="notification-container"></div>
	<div class="container">
		<h1>Flower distribution</h1>
		<h2>Try below!</h2>
		<div class="search-box">
			<div class="search-icon"><i class="fa fa-search search-icon"></i></div>
			<form action="" class="search-form">
				<input type="text" placeholder="Search" id="search" autocomplete="off">
			</form>
			<svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
			 xml:space="preserve">
          <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
          <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
        </svg>
			<div class="go-icon"><i class="fa fa-arrow-right"></i></div>
		</div>
		<br>
		<div class="scrolling-data">
            <div class="scrolling-text"></div>
        </div>
	</div>
</main>
</body>
</html>
